body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#div1{
    background: pink;
    width: 50vh;
    height: 30vh;
  animation: bounce 1s  infinite ease-in-out;
}
@keyframes bounce{
    0% { transform: translateY(0);}
   50% {transform: translateY(-50px);}
   100% { transform: translateY(0);}
}