.pink{
    background: pink;
    color: white;
}
.black{
    background: black;
    color: white;
}
.yellow{
    background: yellowgreen;
    color: white;;
}
.default{
    background: white;
    color: black;
}

.div{
    background: lightblue;
    width: 200px;
    height: 200px;
    border-radius: 50%;;
}