body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 100px 200px auto  ;
    gap: 10px;
}
.header{
 

    grid-column: 1/4;
    grid-row: 1;

}